#container{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 100%;
    height: 700px;
    max-width: 500px;
    border: 1px solid lightgrey;
    font-family: 'Open Sans Condensed', sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    border: 1px solid lightgrey;
}
